<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
    <body>
        <table>
            <tr>
                <th>Model</th>
                <th>Color</th>
                <th>Year</th>
                <th>Power</th>
            </tr>

            <tr th:each="car : ${cars}">
                <td th:text="${car.model}"></td>
                <td th:text="${car.color}"></td>
                <td th:text="${car.year}"></td>
                <td th:text="${car.power}"></td>
            </tr>
        </table>
    </body>
</html>